<h1>Notre superbe formulaire de contact</h1>
<form action="/send" method="post">
<ul>
    <li><label for="name"><input type="text" name="name"></label></li>
    <li><label for="email"><input type="text" name="email"></label></li>
    <li><input type="submit" value="send me email"></li>
</ul>
</form>